@import "~pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css";

/*========================================================
        DARK LAYOUT
=========================================================*/

#dashboard-analytics .img-left {
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

#dashboard-analytics .img-right {
  width: 175px;
  position: absolute;
  top: 0;
  right: 0;
}

#dashboard-analytics .bg-analytics {
  background: linear-gradient(118deg, #7367f0, rgba(115, 103, 240, 0.7));
}

#dashboard-analytics .bg-analytics .avatar {
  margin-bottom: 2rem;
}

#dashboard-analytics table tr th:first-child,
#dashboard-analytics table tr td:first-child {
  padding-left: 2rem;
}

#dashboard-analytics table tr th:last-child,
#dashboard-analytics table tr td:last-child {
  padding-right: 2rem;
}

.underlined {
  border-bottom: 1px dotted #9a9191;
  display: inline-block;
}

#dashboard-analytics table td {
  padding: 0.75rem;
}

@media only screen and (max-width: 576px) {

  #dashboard-analytics .img-left,
  #dashboard-analytics .img-right {
    width: 140px;
  }
}

.is-invalid .multiselect__tags {
  border-color: #ea5455 !important;
  padding-right: calc(1.25em + 1.4rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ea5455' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23ea5455' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(0.3125em + 0.35rem);
  background-size: calc(0.625em + 0.7rem) calc(0.625em + 0.7rem);
}

.invalid-feedback {
  display: block !important;
}


.banner-logo-upload-box {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  transition: all 0.35s ease;
  overflow: hidden;
  cursor: pointer;

  img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.width-full {
  min-width: 100%;
  height: 150px;
}

.width-half {
  width: 50%;
  height: 100px;
  margin: auto;

  .btn-pill {
    width: 60px;
    height: 60px;

    .fa {
      line-height: 60px;
      font-size: 30px;
    }
  }
}

.passport-size {
  width: 200px;
  height: 200px;
}

.btn-pill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 50%;
  transition: all 0.35s ease;
  cursor: pointer;

  .fa {
    text-align: center;
    display: block;
    visibility: hidden;
    transition: all 0.35s ease;
  }

  input[type=file] {
    visibility: hidden;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
}

.width-full .btn-pill,
.passport-size .btn-pill {
  width: 100px;
  height: 100px;
}



.width-full .btn-pill .fa,
.passport-size .btn-pill .fa {
  line-height: 100px;
  font-size: 35px;
}



.banner-logo-upload-box:hover {
  opacity: 0.6;
}

.banner-logo-upload-box:hover .btn-pill {
  background-color: #aaa;
}

.banner-logo-upload-box:hover .btn-pill i.fa {
  visibility: visible;
}

.btn-default {
  border: 1px solid #ccc;
}

.app-content.content {
  min-height: 92vh;
}

.signature {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px dashed;
  padding-bottom: 10px;
}

.border-top-dashed {
  border-top: 2px dashed;
}

.controller {
  right: 0;
  top: 0;
  position: fixed;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
}

.btn-md {
  padding: 0.9rem 1rem !important;
}

.print-header {
  height: 2in;
}

.print-footer {
  height: 2.2in;
}

.print-header {
  text-align: center;
}

.print-header img {
  height: 100%;
}

.print-footer img {
  width: 100%;
}

@media print {
  .signature {
    bottom: 2.8in;
  }

  .print-footer {
    position: fixed;
    bottom: 35px;
    left: 0;
    right: auto;
  }
  *{
    font-size: 22px !important;
  }
}

.table.invoice-header-table th,
.table.invoice-header-table td {
  padding: .3rem;
  vertical-align: middle;
}

.table.invoice-header-table th,
.table.invoice-header-table td {
  border-top: 1px solid #f8f8f8;
}

.mess {
  border: 1px solid #aaa;
  display: inline-block;
  padding: 1px 5px;
  border-radius: 4px;
}
.invoice-body {
  margin-top: 40px;
}
.signature span {
  font-weight: bold;
}